<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/tenant']">Teanant Management</a>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/link2']">Link 2</a>
      <a routerLinkActive="active-link" mat-list-item [routerLink]="['/link3']">Link 3</a>
      <a routerLinkActive="active-link" mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
